/* Configs */

:root {
    --Preto: #0C0B0B;
    --Cinza: #0F0E0E;
    --Branco: #B7B7B7;
    --Verde: #046313;
    --Azul: #044A7D;
    --Amarelo: #725200;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--Preto);
    color: var(--Branco);
    font-family: 'Rubik';
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.user-info {
    background-color: var(--Cinza);
    width: 600px;
    height: 272px;
    padding: 50px;
}